@using Omu.Awem.Helpers
@using Omu.AwesomeMvc
@model GraphsExample.ViewModels.ChartJSViewModel

@{
    ViewData["Title"] = "ChartJS";
}

@using (Html.Awe().BeginContext())
{
    @Html.DisplayForModel()
    var grid = "ChartJS";
    var gridId = Html.Awe().GetContextPrefix() + grid;

    <div>
        @(Html.Awe().Grid(grid)
            .Url(Url.Action("GridGetItems", "ChartJS"))
            .RowClassClientFormat("infoBackground")
            .Mod(a => a.Loading(true, true, "no items"))
            .Columns(
                 new Column { Header = "Graph column", Width = 225, ClientFormatFunc = "getGraph" },
                 new Column { Header = "Any column" }
            )
            .ShowGroupBar(false)
            .Groupable(false)
            .Sortable(false)
            .Reorderable(false)
            .Resizable(true)
            .Paging(false)
            .Persistence(Persistence.None))
    </div>
    <div>
        <canvas id="myChart" width="1000"></canvas>
    </div>
    <div id="hidden_container" style="visibility: hidden; width:none; height:none"></div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">

        function getGraph(o) {
            var canvasDiv = document.getElementById("hidden_container");
            var canvasElem = document.createElement('canvas');
            canvasElem.id = o.id + '-Canvas';
            canvasElem.width = 150;
            canvasElem.height = 50;
            canvasDiv.appendChild(canvasElem);

            var image = new Image();
            image.id = o.id + '-Image';
            image.className = "graphCss";
            image.style = "opacity:0"; //to avoid ugly loading image border

            console.log(o.values);
            var chart = new Chart(
                canvasElem.getContext("2d"),
                {
                    type: 'line',
                    data: {
                        labels: o.values.map(a=>a.x),
                        datasets: [{
                            label: 'Data',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 10,
                            data: o.values
                        }]
                    },
                    options: {
                        parsing: {
                            xAxisKey: 'x',
                            yAxisKey: 'y'
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        animation: {
                            onComplete: function () {
                                var img = document.getElementById(o.id + '-Image');
                                img.src = chart.toBase64Image();
                                img.style = "opacity:1";
                            }
                        }
                    }
                });

            canvasDiv.removeChild(canvasElem);
            return image.outerHTML;
        };

        $(document).ready(function () {
            $('#@(gridId)').on('aweload', function (e, data) {
                var v = document.getElementById("myChart");

                var values = @(Html.Raw(ViewBag.TestValues));
                console.log(values);
                myChart = new Chart(
                    v.getContext("2d"),
                    {
                        type: 'line',
                        data: {
                            labels: values.map(a => a.X),
                            datasets: [{
                                label: 'Data',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: values,
                            }]
                        },
                        options: {
                            responsive: false,
                            parsing: {
                                xAxisKey: 'X',
                                yAxisKey: 'Y'
                            },
                            plugins: {
                                legend: {
                                    display: true
                                }
                            },
                            title: {
                                display: true,
                                text: 'Data Line Chart'
                            },
                            scales: {
                                x: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'X'
                                    }
                                },
                                y: {
                                    display: true,
                                    title: {
                                        display: true,
                                        text: 'Y'
                                    }
                                }
                            },
                            interaction: {
                                intersect: false,
                                mode: 'index',
                            },
                        }
                    });
            });
        });

    </script>

    <style>
        .awe-row .graphCss {
            width: 150px;
            height: 50px;
        }
    </style>
}