@using Omu.Awem.Helpers
@using Omu.AwesomeMvc
<div class="header">
    <div class="headerImg"></div>
    <div class="headerName">Charts</div>
    <div class="headerMenu">
        @await Html.PartialAsync("HeaderMenu")
    </div>
</div>

<script>
</script>