@using Omu.Awem.Helpers
@using Omu.AwesomeMvc

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

@model GraphsExample.ViewModels.HighchartsViewModel
@{
    ViewData["Title"] = "Highcharts";
}

@using (Html.Awe().BeginContext())
{
    @Html.DisplayForModel()
    var grid = "Highcharts";
    var gridId = Html.Awe().GetContextPrefix() + grid;

    <div>
        @(Html.Awe().Grid(grid)
            .Url(Url.Action("GridGetItems", "Highcharts"))
            .RowClassClientFormat("infoBackground")
            .Mod(a => a.Loading(true, true, "no items"))
            .Columns(
                new Column { Bind = "Values", Header = "Graph column", Width = 200, ClientFormatFunc = "getGraph" },
                new Column { Header = "Any column" }
            )
        .ShowGroupBar(false)
        .Groupable(false)
        .Sortable(false)
        .Reorderable(false)
        .Resizable(true)
        .Paging(false)
        .Persistence(Persistence.None))
    </div>

    <script type="text/javascript">
        async function getGraph(o) {
            let func = $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {
                    "valuesStr": JSON.stringify(o.values),
                    "chartName": "Values"
                },
                async: true,
                url: '/Highcharts/GetChartByValues'
            }).then(function (response) { return response });

            let text = await func;

            alert(text);
            //split
            var arr = text.split('<script');
            document.body.append('<script' + arr[1]);
            return arr[0];
        }
    </script>
}